body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  background-color: skyblue;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container > input {
  width: 300px;
  height: 10px;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
}

.input-container > button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 1rem;
  background-color: greenyellow;
}

.container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.todo {
  width: 500px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 0px 5px;
}

.actions > button{
  background-color: red;
  color: white;
  height: 30px;
  width: 75px;
  border-radius: 5px;
  align-items: center;
  font-size: 1rem;
}